form a {
    margin-left: 5px;

}

.left-block {
    width: 280px;
    margin-top: 10px;
}

.list-custom {
    margin-top: 10px;
}

.btn-custom-width {
    width: 280px;
}

.margin-bottom-element {
    margin-bottom: 25px;
}
